* {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px/1 '\5fae\8f6f\96c5\9ed1', Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 16px;
}
h3 {
  font-size: 14px;
}
h4,
h5,
h6 {
  font-size: 100%;
}
address,
cite,
dfn,
em,
var {
  font-style: normal;
}
code,
kbd,
pre,
samp,
tt {
  font-family: "Courier New", Courier, monospace;
}
small {
  font-size: 12px;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
abbr[title],
acronym[title] {
  border-bottom: 1px dotted;
  cursor: help;
}
q:before,
q:after {
  content: '';
}
legend {
  color: #000;
}
fieldset,
img {
  border: none;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
hr {
  border: none;
  height: 1px;
}
html {
  overflow-y: scroll;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  display: block;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  border: 0;
}
ul {
  list-style: none;
}
* {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}
body {
  font: 12px/1 '\5fae\8f6f\96c5\9ed1', Tahoma, Helvetica, Arial, '\5b8b\4f53', sans-serif;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  line-height: 90px;
  z-index: 99999;
  background-color: rgba(255, 255, 255, 0.9);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4cffffff', endColorstr='#4cffffff');
  border-bottom: 1px solid #F2F2F2;
}
.header .header-inner {
  width: 1200px;
  margin: 0 auto;
  *zoom: 1;
}
.header .header-inner:before,
.header .header-inner:after {
  display: table;
  content: "";
  line-height: 0;
}
.header .header-inner:after {
  clear: both;
}
.header .header-inner .logo {
  float: left;
}
.header .header-inner .logo a {
  float: left;
  width: 314px;
  height: 56px;
  background: url("../images/common/logo.png") no-repeat;
  text-indent: -99999px;
  margin-top: 16px;
}
.header .header-inner .header-nav {
  float: right;
  margin-top: 30px;
  overflow: hidden;
  margin-right: -25px;
}
.header .header-inner .header-nav a {
  position: relative;
  display: block;
  float: left;
  color: #616161;
  font-size: 16px;
  padding: 0 15px;
  line-height: 30px;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform .3s;
}
.header .header-inner .header-nav a:hover {
  color: #47b182;
  text-decoration: none;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
.header .header-inner .header-nav a::before {
  position: absolute;
  top: 100%;
  left: 0;
  color: #46b855;
  content: attr(data-hover);
  padding: 0 15px;
}
.header .header-inner .header-nav .cur {
  color: #47b182;
}
.header .header-inner .header-nav .cur:hover {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.header .header-inner .m-header-nav {
  display: none;
}
.header .header-inner .m-header-cate {
  position: absolute;
  right: 5px;
  top: 13px;
}
.header .header-inner .m-header-cate span {
  width: 16px;
  height: 12px;
  background: url("../images/common/m-header-nav-icon.png") no-repeat;
  background-size: 16px 12px;
  display: block;
}
.header .header-inner .m-header-nav-bd {
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
}
.header .header-inner .m-header-nav-bd a {
  font-size: 16px;
  padding: 5px 0 5px 10px;
  margin: 0 15px;
  color: #888;
  display: block;
  border-top: 1px solid #f5f5f5;
}
.header .header-inner .m-header-nav-bd a:hover {
  padding-left: 25px;
  border-radius: 30px;
  -webkit-transition: .2s linear;
  -moz-transition: .2s linear;
  -o-transition: .2s linear;
  -ms-transition: .2s linear;
  transition: .2s linear;
  background-color: #47b182;
  color: #ffffff;
}
.header .header-inner .m-header-nav-bd .cur {
  color: #47b182;
}
.header-change {
  background-color: #fff;
}
.banner-com {
  width: 100%;
  margin-top: 90px;
  display: block;
}
.banner-com img {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  display: block;
  max-height: 550px;
}
.banner-com .f-lazy {
  background-position: center center;
}
.web-main {
  width: 1200px;
  margin: 0 auto;
}
.web-main .imagerct {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.web-main .intro-img {
  overflow: hidden;
}
.web-main .intro-img:hover .imagerct {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -ms-transform: scale(1.2);
}
.f-lazy {
  background: url(../images/common/lazy_loading_img.gif) center center no-repeat;
}
.footer {
  background-color: #47B181;
  color: #fff;
  width: 100%;
  padding-bottom: 120px;
}
.footer-bd {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 20px;
  overflow: hidden;
}
.footer-bd .footer-hd-l {
  float: left;
  margin-right: 50px;
}
.footer-bd .footer-hd-l p {
  margin-bottom: 12px;
}
.footer-bd .footer-hd-l .company-explain {
  font-size: 14px;
}
.footer-bd .footer-hd-r {
  float: left;
}
.footer-bd .footer-hd-r dl {
  margin-right: 50px;
  float: left;
}
.footer-bd .footer-hd-r dl dt {
  margin-bottom: 21px;
  font-size: 18px;
  font-weight: bold;
}
.footer-bd .footer-hd-r dl dd {
  font-size: 14px;
  margin-bottom: 12px;
}
.footer-bd .two-dimension-code {
  display: none;
  float: left;
  color: #fff;
  text-align: center;
  margin: 10px auto 0;
}
.footer-bd .two-dimension-code .code-item {
  display: inline-block;
  margin-right: 8px;
}
.footer-bd .two-dimension-code .code-item .code-img {
  padding: 8px;
  background-color: #fff;
  width: 80px;
  height: 80px;
  margin: 0 auto;
}
.footer-bd .two-dimension-code .code-item .code-img img {
  width: 100%;
}
.footer-bd .two-dimension-code .code-item .code-txt {
  padding-top: 6px;
  font-size: 12px;
}
.bottom-tips {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 90px;
  z-index: 999999;
}
.bottom-tips .bottom-tips-close {
  position: absolute;
  top: 8px;
  right: 8px;
  color: #adadad;
  width: 28px;
  height: 28px;
  line-height: 28px;
  background-color: #4a4a4a;
  border-radius: 50%;
  text-align: center;
  z-index: 999999;
}
.bottom-tips .bottom-tips-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .8;
}
.bottom-tips .bottom-tips-inner {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1200px;
  margin-left: -600px;
  height: 140px;
}
.bottom-tips .bottom-tips-inner .logo {
  float: left;
  width: 170px;
  height: 55px;
  background: url(../images/common/bottom_logo.png) no-repeat;
  margin-top: 35px;
}
.bottom-tips .bottom-tips-inner .on-sale {
  position: absolute;
  left: 0;
  bottom: 13px;
  width: 980px;
  height: 140px;
  background: url(../images/common/web_bottom_tips_icon.png) no-repeat;
}
.bottom-tips .bottom-tips-inner .two-dimension-code {
  position: absolute;
  bottom: 55px;
  right: 0;
  color: #fff;
  text-align: center;
}
.bottom-tips .bottom-tips-inner .two-dimension-code .code-item {
  display: inline-block;
  margin-left: 15px;
}
.bottom-tips .bottom-tips-inner .two-dimension-code .code-item .code-img {
  padding: 4px;
  background-color: #fff;
  width: 70px;
  height: 70px;
  margin: 0 auto 5px;
  border: 1px solid #eaeaea;
}
.bottom-tips .bottom-tips-inner .two-dimension-code .code-item .code-img img {
  width: 100%;
}
.bottom-tips .bottom-tips-inner .two-dimension-code .code-item .code-txt {
  padding: 2px 0;
  font-size: 12px;
}
