@media (max-width: 1255px) {
  .header .header-inner {
    width: 990px;
  }
  .header .header-inner .header-nav {
    margin-right: -20px;
  }
  .header .header-inner .header-nav a {
    padding: 0 20px;
  }
  .web-main {
    width: 990px;
  }
  .footer-bd {
    width: 990px;
  }
  .footer-bd .footer-hd-l {
    width: 300px;
  }
  .bottom-tips .bottom-tips-inner {
    width: 990px;
    margin-left: -500px;
  }
  .bottom-tips .bottom-tips-inner .on-sale {
    top: 10px;
    width: 580px;
    height: 98px;
    background-size: 580px 98px;
  }
  .home .home-item {
    margin-top: 25px;
  }
  .home .index-product-introduction .item-bd .bd-list {
    width: 483px;
  }
  .home .partner .item-bd .bd-list {
    width: 228px;
  }
  .home-slider {
    min-height: 220px;
  }
  .home-slider .swiper-button-next {
    margin-right: -495px;
  }
  .home-slider .swiper-button-prev {
    margin-left: -495px;
  }
  .home-slider .swiper-pagination {
    width: 990px;
    margin-left: -495px;
  }
  .introduction-com .introduction-item {
    margin-top: 25px;
  }
  .introduction-com .introduction-item .item-img {
    width: 336px;
    height: 240px;
  }
  .introduction-com .introduction-com-img-l .introduction-txt {
    width: 630px;
  }
  .team-introduction .introduction-hd {
    margin: 25px auto;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item {
    width: 320px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-img {
    width: 320px;
    height: 320px;
    min-height: 320px;
  }
  .common-problem .problem-item {
    margin-top: 25px;
  }
  .common-problem .problem-item .item-img {
    width: 220px;
    height: 220px;
  }
  .common-problem .problem-item .item-info {
    max-height: 220px;
    overflow: hidden;
  }
  .media-report .report-item {
    margin: 25px 0;
  }
}
.w990 .header .header-inner {
  width: 990px;
}
.w990 .header .header-inner .header-nav {
  margin-right: -20px;
}
.w990 .header .header-inner .header-nav a {
  padding: 0 20px;
}
.w990 .web-main {
  width: 990px;
}
.w990 .footer-bd {
  width: 990px;
}
.w990 .footer-bd .footer-hd-l {
  width: 300px;
}
.w990 .bottom-tips .bottom-tips-inner {
  width: 990px;
  margin-left: -500px;
}
.w990 .bottom-tips .bottom-tips-inner .on-sale {
  top: 10px;
  width: 580px;
  height: 98px;
  background-size: 580px 98px;
}
.w990 .home .home-item {
  margin-top: 25px;
}
.w990 .home .index-product-introduction .item-bd .bd-list {
  width: 483px;
}
.w990 .home .partner .item-bd .bd-list {
  width: 228px;
}
.w990 .home-slider {
  min-height: 220px;
}
.w990 .home-slider .swiper-button-next {
  margin-right: -495px;
}
.w990 .home-slider .swiper-button-prev {
  margin-left: -495px;
}
.w990 .home-slider .swiper-pagination {
  width: 990px;
  margin-left: -495px;
}
.w990 .introduction-com .introduction-item {
  margin-top: 25px;
}
.w990 .introduction-com .introduction-item .item-img {
  width: 336px;
  height: 240px;
}
.w990 .introduction-com .introduction-com-img-l .introduction-txt {
  width: 630px;
}
.w990 .team-introduction .introduction-hd {
  margin: 25px auto;
}
.w990 .team-introduction .introduction-bd .introduction-bd-cont .cont-item {
  width: 320px;
}
.w990 .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-img {
  width: 320px;
  height: 320px;
  min-height: 320px;
}
.w990 .common-problem .problem-item {
  margin-top: 25px;
}
.w990 .common-problem .problem-item .item-img {
  width: 220px;
  height: 220px;
}
.w990 .common-problem .problem-item .item-info {
  max-height: 220px;
  overflow: hidden;
}
.w990 .media-report .report-item {
  margin: 25px 0;
}
@media (max-width: 1009px) {
  .header .header-inner {
    width: 750px;
    height: 90px;
    line-height: 90px;
  }
  .header .header-inner .header-nav {
    margin-right: -18px;
  }
  .header .header-inner .header-nav a {
    padding: 0 17px;
    font-size: 16px;
  }
  .header .header-inner .logo a {
    width: 96px;
    height: 30px;
    background-size: 96px 30px;
    margin-top: 30px;
  }
  .banner-com {
    margin-top: 50px;
  }
  .web-main {
    width: 750px;
  }
  .footer .footer-bd {
    width: 750px;
  }
  .footer .footer-bd .footer-hd-l {
    width: 222px;
  }
  .footer .footer-bd .footer-hd-r dl {
    width: 182px;
  }
  .bottom-tips .bottom-tips-inner {
    width: 750px;
    margin-left: -380px;
  }
  .bottom-tips .bottom-tips-inner .on-sale {
    width: 450px;
    height: 76px;
    background-size: 450px 76px;
    left: 100px;
    top: 25px;
  }
  .bottom-tips .bottom-tips-inner .logo {
    width: 96px;
    height: 30px;
    background-size: 96px 30px;
    margin-top: 25px;
  }
  .bottom-tips .bottom-tips-inner .two-dimension-code .code-item .code-img {
    width: 60px;
    height: 60px;
    margin: 0 auto;
  }
  .bottom-tips .bottom-tips-inner .two-dimension-code .code-item {
    margin-left: 6px;
  }
  .bottom-tips .bottom-tips-close {
    top: 6px;
    right: 6px;
    width: 20px;
    height: 20px;
    line-height: 20px;
  }
  .home-slider {
    min-height: 120px;
  }
  .home-slider .swiper-button-next {
    margin-right: -375px;
  }
  .home-slider .swiper-button-prev {
    margin-left: -375px;
  }
  .home-slider .swiper-pagination {
    margin-left: -375px;
  }
  .home-slider .swiper-pagination {
    width: 750px;
  }
  .home .index-product-introduction .item-bd .bd-list {
    width: 363px;
  }
  .home .index-product-introduction .item-bd .bd-list .product-info {
    padding: 40px 20px 30px;
  }
  .home .home-item .item-bd .item-bd-inner {
    width: 775px;
  }
  .home .partner .item-bd .bd-list {
    width: 174px;
  }
  .home .home-item .item-bd .bd-list {
    margin-top: 15px;
  }
  .home .partner .item-bd .bd-list {
    margin-right: 15px;
  }
  .platform-introduction .introduction-hd {
    margin-top: 25px;
  }
  .platform-introduction .introduction-bd p {
    width: 88%;
  }
  .introduction-com .introduction-com-img-l .introduction-txt {
    width: auto;
    float: none;
  }
  .introduction-com .introduction-com-img-r .introduction-txt {
    width: 400px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-inner {
    width: 770px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item {
    width: 368px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-img {
    width: auto;
    height: 368px;
    min-height: 368px;
  }
  .common-problem .problem-item .item-info .item-info-tit {
    line-height: 28px;
  }
}
.w750 .header .header-inner {
  width: 750px;
  height: 90px;
  line-height: 90px;
}
.w750 .header .header-inner .header-nav {
  margin-right: -18px;
}
.w750 .header .header-inner .header-nav a {
  padding: 0 17px;
  font-size: 16px;
}
.w750 .header .header-inner .logo a {
  width: 96px;
  height: 30px;
  background-size: 96px 30px;
  margin-top: 30px;
}
.w750 .banner-com {
  margin-top: 50px;
}
.w750 .web-main {
  width: 750px;
}
.w750 .footer .footer-bd {
  width: 750px;
}
.w750 .footer .footer-bd .footer-hd-l {
  width: 222px;
}
.w750 .footer .footer-bd .footer-hd-r dl {
  width: 182px;
}
.w750 .bottom-tips .bottom-tips-inner {
  width: 750px;
  margin-left: -380px;
}
.w750 .bottom-tips .bottom-tips-inner .on-sale {
  width: 450px;
  height: 76px;
  background-size: 450px 76px;
  left: 100px;
  top: 25px;
}
.w750 .bottom-tips .bottom-tips-inner .logo {
  width: 96px;
  height: 30px;
  background-size: 96px 30px;
  margin-top: 25px;
}
.w750 .bottom-tips .bottom-tips-inner .two-dimension-code .code-item .code-img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.w750 .bottom-tips .bottom-tips-inner .two-dimension-code .code-item {
  margin-left: 6px;
}
.w750 .bottom-tips .bottom-tips-close {
  top: 6px;
  right: 6px;
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.w750 .home-slider {
  min-height: 120px;
}
.w750 .home-slider .swiper-button-next {
  margin-right: -375px;
}
.w750 .home-slider .swiper-button-prev {
  margin-left: -375px;
}
.w750 .home-slider .swiper-pagination {
  margin-left: -375px;
}
.w750 .home-slider .swiper-pagination {
  width: 750px;
}
.w750 .home .index-product-introduction .item-bd .bd-list {
  width: 363px;
}
.w750 .home .index-product-introduction .item-bd .bd-list .product-info {
  padding: 40px 20px 30px;
}
.w750 .home .home-item .item-bd .item-bd-inner {
  width: 775px;
}
.w750 .home .partner .item-bd .bd-list {
  width: 174px;
}
.w750 .home .home-item .item-bd .bd-list {
  margin-top: 15px;
}
.w750 .home .partner .item-bd .bd-list {
  margin-right: 15px;
}
.w750 .platform-introduction .introduction-hd {
  margin-top: 25px;
}
.w750 .platform-introduction .introduction-bd p {
  width: 88%;
}
.w750 .introduction-com .introduction-com-img-l .introduction-txt {
  width: auto;
  float: none;
}
.w750 .introduction-com .introduction-com-img-r .introduction-txt {
  width: 400px;
}
.w750 .team-introduction .introduction-bd .introduction-bd-cont .cont-inner {
  width: 770px;
}
.w750 .team-introduction .introduction-bd .introduction-bd-cont .cont-item {
  width: 368px;
}
.w750 .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-img {
  width: auto;
  height: 368px;
  min-height: 368px;
}
.w750 .common-problem .problem-item .item-info .item-info-tit {
  line-height: 28px;
}
@media (max-width: 750px) {
  .header,
  .header .header-inner {
    height: 50px;
    line-height: 50px;
  }
  .header .header-nav,
  .header .header-inner .header-nav {
    display: none;
  }
  .header .logo a,
  .header .header-inner .logo a {
    width: 70px;
    height: 20px;
    background-size: 70px 20px;
    margin-top: 12px;
    margin-left: 12px;
  }
  .header .m-header-nav,
  .header .header-inner .m-header-nav {
    display: block;
    line-height: 40px;
  }
  .header .m-header-nav .m-header-nav-bd,
  .header .header-inner .m-header-nav .m-header-nav-bd {
    top: 50px;
  }
  .header .m-header-cate,
  .header .header-inner .m-header-cate {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 45px;
  }
  .header .m-header-cate span,
  .header .header-inner .m-header-cate span {
    margin: 16px auto 0;
  }
  .web-main {
    width: 100%;
  }
  .footer {
    padding-bottom: 60px;
  }
  .footer .footer-bd {
    box-sizing: border-box;
    padding: 12px;
    width: 100%;
  }
  .footer .footer-bd .footer-hd-l {
    width: auto;
    margin-right: 12px;
  }
  .footer .footer-bd .footer-hd-l .company-logo {
    margin-bottom: 3px;
    width: 90px;
  }
  .footer .footer-bd .footer-hd-l .company-logo img {
    width: 100%;
  }
  .footer .footer-bd .footer-hd-l p {
    line-height: 26px;
    margin-bottom: 0;
  }
  .footer .footer-bd .footer-hd-r dl {
    width: auto;
    margin-top: 20px;
  }
  .footer .footer-bd .two-dimension-code {
    display: block;
  }
  .bottom-tips {
    height: 60px;
  }
  .bottom-tips .bottom-tips-inner {
    width: 100%;
    margin-left: 0;
    left: 0;
  }
  .bottom-tips .bottom-tips-inner .logo {
    display: none;
  }
  .bottom-tips .bottom-tips-inner .on-sale {
    width: 220px;
    height: 38px;
    background-size: 220px 38px;
    left: 30px;
    top: 12px;
  }
  .bottom-tips .bottom-tips-inner .two-dimension-code {
    display: none;
  }
  .home-slider {
    margin-top: 50px;
    width: 100%;
    min-height: 20px;
    overflow: hidden;
  }
  .home-slider .swiper-pagination {
    width: 100%;
    margin-left: 0;
    left: auto;
    right: 8px;
    font-size: 12px;
  }
  .home-slider .swiper-pagination-bullet-active,
  .home-slider .home-slider .swiper-pagination-bullet {
    font-size: 12px;
  }
  .home-slider .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 6px;
  }
  .home .home-item {
    margin-top: 15px;
  }
  .home .home-item .item-hd {
    padding: 0 2.5%;
  }
  .home .home-item .item-hd .hd-txt {
    font-size: 16px;
  }
  .home .home-item .item-bd .item-bd-inner {
    width: auto;
  }
  .home .index-product-introduction .item-bd .item-bd-inner {
    width: 100%;
  }
  .home .index-product-introduction .item-bd .bd-list {
    box-sizing: border-box;
    width: 96%;
    display: block;
    margin: 10px auto 20px;
    float: none;
  }
  .home .index-product-introduction .item-bd .bd-list .product-info {
    padding: 15px 12px 15px;
  }
  .home .index-product-introduction .item-bd .bd-list .product-info .product-tit {
    padding-top: 5px;
  }
  .home .index-product-introduction .item-bd .bd-list .look-more {
    padding: 8px 15px;
    font-size: 14px;
  }
  .home .partner .item-bd .bd-list {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    box-sizing: border-box;
  }
  .platform-introduction {
    overflow: hidden;
  }
  .platform-introduction .introduction-hd {
    font-size: 20px;
    margin-top: 16px;
  }
  .platform-introduction .introduction-bd {
    margin-top: 15px;
    margin-bottom: 60px;
  }
  .introduction-com {
    margin-bottom: 20px;
  }
  .introduction-com .introduction-item {
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .introduction-com .introduction-item .item-img {
    width: 96%;
    height: 240px;
    margin: 0 auto;
    display: block;
    float: none;
  }
  .introduction-com .introduction-item .introduction-txt .introduction-tit .tit-explain {
    font-size: 12px;
  }
  .introduction-com .introduction-com-img-l .introduction-txt,
  .introduction-com .introduction-com-img-r .introduction-txt {
    padding-top: 12px;
    width: 96%;
    margin: 0 2%;
  }
  .introduction-com .introduction-com-img-l .introduction-txt .introduction-tit,
  .introduction-com .introduction-com-img-r .introduction-txt .introduction-tit {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .team-introduction .introduction-hd {
    width: 96%;
  }
  .team-introduction .introduction-hd .hd-decorate {
    width: 66%;
  }
  .team-introduction .introduction-hd .hd-decorate span {
    font-size: 14px;
  }
  .team-introduction .introduction-hd .hd-txt {
    margin: 12px 0;
    font-size: 14px;
  }
  .team-introduction .introduction-bd .introduction-bd-tit {
    margin-top: 20px;
  }
  .team-introduction .introduction-bd .introduction-bd-tit .core-team {
    font-size: 26px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont {
    margin-top: 15px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-inner {
    width: 100%;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item {
    width: 96%;
    margin: 0 2%;
    float: none;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-img {
    height: 300px;
    min-height: 300px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-info {
    margin-bottom: 15px;
  }
  .team-introduction .introduction-bd .introduction-bd-cont .cont-item .item-info p {
    text-indent: 0;
    width: 96%;
  }
  .common-problem {
    margin-top: 12px;
  }
  .common-problem .problem-item {
    float: none;
    width: 100%;
    margin-top: 15px;
    overflow: hidden;
  }
  .common-problem .problem-item .item-img {
    width: 120px;
    height: 120px;
    min-height: 120px;
    margin-right: 12px;
    margin-left: 12px;
  }
  .common-problem .problem-item .item-info .item-info-tit {
    font-size: 18px;
    padding: 0 0 10px 0;
  }
  .issue-pop-up .pop-up-bd {
    width: 92%;
    box-sizing: border-box;
    top: 20%;
    margin: 0 auto;
    left: auto;
    position: relative;
    height: 300px;
    padding: 16px 12px;
  }
  .issue-pop-up .pop-up-bd .pop-up-cont {
    height: 230px;
  }
  .issue-pop-up .pop-up-bd .close {
    width: 24px;
    height: 24px;
    line-height: 24px;
  }
  .issue-pop-up .pop-up-bd .pop-up-tit {
    font-size: 20px;
  }
  .media-report .report-item .item-img {
    width: 160px;
    height: 80px;
    min-height: 80px;
    margin-right: 12px;
    margin-left: 6px;
  }
  .media-report .report-item .item-info .info-hd .info-hd-tit {
    padding: 5px 0;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 36px;
    line-height: 18px;
  }
  .media-report .report-item .item-info .info-hd .tit-explain {
    line-height: 18px;
    font-size: 12px;
  }
  .media-report .report-item .item-info .info-hd .tit-explain span {
    margin-right: 0;
    display: block;
  }
  .media-report .report-item .item-info .info-bd {
    width: 100%;
    padding: 0 12px;
    box-sizing: border-box;
    text-indent: 16px;
    font-size: 14px;
  }
}
